{% extends "_layouts/base" %}
{% block body_class %}view-legal{% endblock %}

{% block sitemeta %}
<title>{{ "MavenShake - Terms of Service"|t }}</title>
<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% block main %}
  {{ entry.richtext }}
{% endblock %}