/* ==============================================
VARIABLES
============================================== */
// $color-bg: #f0f0f0;
// $color-link: #2E83E1;
// $color-text: #16110E;
// $color-primary: #0FD284;

// $base-font-size: 16px;
// $font-headline: fatfrank, sans-serif;
// $font-body: ff-tisa-sans-web-pro, sans-serif;
/* ============================================== */

/* ==============================================
GLOBAL
============================================== */
// body {
//   background-color: $color-bg;
//   background-image: radial-gradient(
//     circle at top center,
//     rgba(white, .5),
//     $color-bg
//   );
//   font-family: $font-body;
//   font-size: $base-font-size;
// }

// a {
//   color: $color-link;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-family: $font-headline;
// }
/* ============================================== */
.view-checkout {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 180px;
      
      img {
        width: 100%;
      }
    }
  }

  .paymentSource-form input {
    width: auto;
  }
}


/* ==============================================
STEPS
============================================== */
.steps {
  font-family: $font-headline;
  min-width: 600px;

  > ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;

    > li {
      position: relative;
      display: block;
      flex: 1;
      list-style: none;
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        z-index: 50;
        left: 50%;
        bottom: -5px;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: rgba($color-text, .3);
      }

      a {
        color: rgba($color-text, .3);
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        font-size: 14px;
        text-transform: uppercase;
      }

      &.done {
        a {
          font-weight: bold;
          color: $color-text;
        }
      }

      &.sel {
        &:after {
          content: '';
          position: absolute;
          z-index: 50;
          left: 50%;
          bottom: -8px;
          width: 11px;
          height: 11px;
          border-radius: 10px;
          border: 3px solid $color-link;
          background-color: white;
        }

        a {
          color: $color-text;
        }
      }
    }
  }

  .meter {
    position: relative;
    width: calc(100% - 120px);
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: rgba($color-meter-bar, .2);

    > span {
      display: block;
      height: 5px;
      border-radius: 50px;
      background-color: $color-meter-fill;
      position: relative;
      overflow: hidden;
    }
  }
}

// .steps ul li.done {
//   color: #da5a17;
//   opacity: 0.5;
// }
// .steps ul li.done a {
//   color: #da5a17;
// }

// @media (max-width: 750px) {
//   .steps ul {
//     display: block;
//     margin-left: 24px;
//   }
//   .steps ul li {
//     list-style: decimal;
//     display: list-item;
//   }
//   .steps .meter {
//     display: none;
//   }
// }