.view-checkout {
  background: white;

  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba($color-border, .5);

    &__logo {
      width: 180px;
      
      img {
        width: 100%;
      }
    }
  }

  /* --------------------------------------
  shop/checkout
  -------------------------------------- */
  .checkemail {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__form {
      max-width: 500px;
    }

    &__keyart {
      position: relative;
      z-index: -1;
      height: calc(100vh - 300px);
      width: 50%;
      
      img {
        position: absolute;
        top: calc(50% + 100px);
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 500px;
        width: 100%;
      }
    }

    &__helper {
      font-size: 16px;
    }
  }

  .paymentSource-form input {
    width: auto;
  }
}


/* ==============================================
LOGIN/REGISTER
============================================== */
.view-checkout-account {
  .heading {
    margin-top: 25px;
  }

  .container--main {
    position: relative;

    &:after {
      content: '';
      position: fixed;
      z-index: -1;
      top: 0;
      right: 0;
      width: 50vw;
      height: 100vh;
      background-color: rgba($color-text, .05);
    }
  }

  .account {
    &__form {
      display: flex;
    }

    &__signin {
      width: 50%;
      padding-right: 50px;

      .forgot-link {
        font-size: 16px;
      }

      .remember {
        font-size: 16px;
        font-weight: normal;
      }

      .field--separate {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &__checkout {
      width: 50%;
      padding-left: 50px;
    }

    &__checkout-description {
      font-size: 18px;
    }

    &__checkout-list {
      margin-bottom: 25px; 

      > li {
        position: relative;
        padding-left: 16px;
        margin-bottom: 10px;
        font-size: 16px;

        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 9px;
          width: 6px;
          height: 6px;
          background-color: $color-primary;
          border-radius: 6px;
        }
      }
    }
  }
}


/* ==============================================
STEPS
============================================== */
.steps {
  font-family: $font-headline;
  min-width: 600px;

  > ul {
    display: flex;
    margin-bottom: 0;
    padding: 0;

    > li {
      position: relative;
      display: block;
      flex: 1;
      list-style: none;
      text-align: center;

      &:after {
        content: '';
        position: absolute;
        z-index: 50;
        left: 50%;
        bottom: -5px;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: rgba($color-text, .3);
      }

      a {
        color: rgba($color-text, .3);
        text-decoration: none;
        display: inline-block;
        padding: 8px;
        font-size: 14px;
        text-transform: uppercase;
      }

      &.done {
        a {
          font-weight: bold;
          color: $color-text;
        }
      }

      &.sel {
        &:after {
          content: '';
          position: absolute;
          z-index: 50;
          left: 50%;
          bottom: -8px;
          width: 11px;
          height: 11px;
          border-radius: 10px;
          border: 3px solid $color-link;
          background-color: white;
        }

        a {
          color: $color-text;
        }
      }
    }
  }

  .meter {
    position: relative;
    width: calc(100% - 120px);
    margin: 0 auto;
    margin-bottom: 5px;
    border-radius: 50px;
    background-color: rgba($color-meter-bar, .2);

    > span {
      display: block;
      height: 5px;
      border-radius: 50px;
      background-color: $color-meter-fill;
      position: relative;
      overflow: hidden;
    }
  }
}


/* ==============================================
RESPONSIVE - MOBILE & TABLET
============================================== */
@media (max-width: $mq-lg) {
  .view-checkout-email {
    .container--main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .checkemail {
    flex-direction: column;

    &__keyart {
      display: none;
      width: 100% !important;
      height: auto !important;
      margin-bottom: -200px;
      text-align: center;

      img {
        position: static !important;
        transform: none !important; 
        top: auto !important;
        left: auto !important;
        width: 370px !important;
      }
    }
  }
}



/* ==============================================
RESPONSIVE - MOBILE
============================================== */
@media (max-width: $mq-md) {
  .view-checkout {
    .site-header {
      flex-direction: column;
      height: 130px;

      &__logo {
        left: 0;
      }

      .steps {
        width: 100%;
        min-width: 0;

        ul>li a {
          font-size: 13px;
        }
      }

      .meter {
        width: calc(100% - 80px);
      }
    }
  }


  .view-checkout-account {
    .container--main {
      &:after {
        display: none;
      }
    }

    .account {
      &__form {
        flex-direction: column;
      }

      &__signin {
        width: 100%;
        padding: 20px;
      }

      &__checkout {
        width: 100%;
        padding: 20px;
      }
    }
  }
}