/* ==============================================
VARIABLES
============================================== */
// $color-bg: #f0f0f0;
// $color-link: #2E83E1;
// $color-text: #16110E;
// $color-primary: #0FD284;

// $base-font-size: 16px;
// $font-headline: fatfrank, sans-serif;
// $font-body: ff-tisa-sans-web-pro, sans-serif;
/* ============================================== */

/* ==============================================
GLOBAL
============================================== */
// body {
//   background-color: $color-bg;
//   background-image: radial-gradient(
//     circle at top center,
//     rgba(white, .5),
//     $color-bg
//   );
//   font-family: $font-body;
//   font-size: $base-font-size;
// }

// a {
//   color: $color-link;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-family: $font-headline;
// }
/* ============================================== */
.view-checkout {
  .site-header {
    &__logo {
      img {
        width: 150px;
      }
    }
  }
}


/* ==============================================
STEPS
============================================== */
.steps {
  min-width: 600px;

  > ul {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 0;
    padding: 0;

    > li {
      display: block;
      flex: 1;
      list-style: none;
      color: #aaa;

      a {
        color: #aaa;
        text-decoration: none;
        display: inline-block;
        padding: 8px;
      }

      &.done a {
        font-size: 16px;
        font-weight: bold;
        color: $color-link;
      }

      &.sel a {
        color: $color-text;
      }
    }
  }

  .meter {
    position: relative;
    border: 1px solid #bbb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 3px;
    margin-bottom: 10px;

    > span {
      display: block;
      height: 8px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      background-color: $color-primary;
      position: relative;
      overflow: hidden;
    }
  }
}

// .steps ul li.done {
//   color: #da5a17;
//   opacity: 0.5;
// }
// .steps ul li.done a {
//   color: #da5a17;
// }

// @media (max-width: 750px) {
//   .steps ul {
//     display: block;
//     margin-left: 24px;
//   }
//   .steps ul li {
//     list-style: decimal;
//     display: list-item;
//   }
//   .steps .meter {
//     display: none;
//   }
// }