.view-contact {
  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .contact {
    display: flex;
    justify-content: space-between;

    &__form {
      flex: 1 0 auto;

      .button {
        margin-top: 25px;
      }
    }

    &__info {
      min-width: 400px;
      margin: 25px 0 0 50px;
      // background: white;

      iframe {
        display: block;
        width: 100%;
        height: 250px;
        margin: 0;
        border-radius: 4px 4px 0 0;
      }
    }

    &__address {
      padding: 20px;
      font-size: 16px;
      background-color: white;
      border-radius: 0 0 4px 4px;
    }

    &__llc {
      margin-top: 20px;
      // padding: 20px;
      font-size: 16px;
      border-radius: 0 0 4px 4px;
    }

    &__name {
      font-size: 18px;
    }

    hr {
      margin: 20px 0;
      border: none;
      border: 1px solid #e0e0e0;
    }
  }

  .errors {
    > li {
      font-size: 16px;
      color: $color-error;
    }
  }
}

/* ==============================================
RESPONSIVE - MOBILE & TABLET
============================================== */
@media (max-width: $mq-lg) {
  .view-contact {
    .contact {
      flex-direction: column;

      &__info {
        margin: 25px 0 0;
      }
    }
  }
}