table {
  thead {
    tr {
      border-bottom: 1px solid $color-border;
    }
    th {
      font-weight: bold;
      font-size: 14px;
      padding: 10px 0;
    }
  }

  tbody {
    tr {
      border: none;
    }

    td {
      &.table__spacer {
        height: 20px;
      }
    }
  }
}