{% if showShippingAddress is not defined %}
	{% set showShippingAddress = false %}
{% endif %}

{% if showShippingMethod is not defined %}
	{% set showShippingMethod = false %}
{% endif %}

<div class="payment__review mt-8">
		<h3 class="heading heading--section mt-0">Order Review</h3>

		{% if showShippingAddress %}
			<strong>Shipping to</strong>
			
			<div class="payment__review-address">
				{% if cart.shippingAddress %}
					<div class="payment__address border-0">
						{% include 'shop/_includes/addresses/address' with {'address': cart.shippingAddress} %}
					</div>
				{% else %}
						<p>No address</p>
				{% endif %}

				{% if currentUser %}<a class="edit" href="{{ url('shop/checkout/addresses') }}">Change</a>{% endif %}
			</div>

		{% endif %}

		{# {% if showShippingMethod %}
			{% if cart.shippingMethod %}
				<p class="method-details">
					<strong>{{ cart.shippingMethod.name }}</strong>
					<span>{{ cart.totalShippingCost | commerceCurrency(cart.currency) }}</span>
				</p>
			{% else %}
				<p class="method-details">
					<span>None selected</span> <a href="{{ url('shop/checkout/shipping') }}">Select one</a>
				</p>
			{% endif %}

			<hr>
		{% endif %} #}

		<h3 class="heading heading--section">Cart Details</h3>
		<ul class="payment__cart-list list-reset leading-normal">
				{% for item in cart.lineItems %}
						<li class="payment__item">
							<span><strong>{{ item.description }}</strong> x {{ item.qty }}</span>
							<span>{{ item.subtotal|commerceCurrency(cart.currency) }}</span>
						</li>
				{% endfor %}


				{% for adjustment in cart.adjustments %}
						<li class="payment__adjustment">
							<p>
								<strong>{{ adjustment.name }} {{ adjustment.type }}</strong>
								<br>
								<span class="payment__adjustment-description">{{ adjustment.description }}</span>
							</p>
							<span class="{% if adjustment.type == 'discount'%} discount{% endif %}">{{ adjustment.amount|commerceCurrency(cart.currency) }}</span>
						</li>
				{% endfor %}


				{% if not cart.shippingMethod %}
						{#
						If the order requires a shipping method be selected, you could redirect back to the shipping page until one is applied to the order.
						{% redirect "shop/checkout/shipping" %}
						You might also want to add a php plugin hook to require
						#}

						<li>
							<strong>Shipping</strong>
							<p><a href="{{ url('shop/checkout/shipping') }}">Select one</a></p>
						</li>
				{% endif %}

				<li>
					<strong>Total {{ cart.currency }}:</strong>
					<strong>
						{{ cart.totalPrice|commerceCurrency(cart.currency) }}
					</strong>
				</li>
				{% if cart.currency != cart.paymentCurrency %}
						<li>
								<strong>Payment {{ cart.paymentCurrency }}:</strong>
								<strong>
									{{ cart.totalPrice|commerceCurrency(cart.paymentCurrency,convert=true) }}									
								</strong>
						</li>
				{% endif %}
		</ul>
</div>