{% extends 'shop/_layouts/checkout' %}
{% block body_class %}view-checkout view-checkout-shipping{% endblock %}

{% block content %}
  <div class="checkout__wrapper">
    <div class="checkout__main shipping__details">
      <h1 class="heading heading--page">Select a shipping method</h1>

      <div class="address-card">
        <h3 class="heading heading--section mt-0" style="margin-top: 0;">Shipping To</h3>
        {% if cart.shippingAddress %}
          {% include 'shop/_includes/addresses/address' with {'address': cart.shippingAddress} %}
        {% else %}
          <p>No shipping address selected.</p>
        {% endif %}

        {% if currentUser %}<a class="edit" href="{{ url('shop/checkout/addresses') }}">Edit</a>{% endif %}
      </div>

      {% if cart.availableShippingMethods|length < 2 and cart.shippingMethod %}
				{# {% redirect 'shop/checkout/payment' %} #}
			{% endif %}

			{% if not cart.availableShippingMethods|length %}
				<p>No shipping methods available.</p>
				<p>
					<a class="button button--primary" href="{{ url('shop/checkout/payment') }}">Continue to payment</a>
				</p>
			{% endif %}

      {% if cart.availableShippingMethods|length %}
				<form method="POST">
					<input type="hidden" name="action" value="commerce/cart/update-cart">
					{{ redirectInput('shop/checkout/payment') }}
					{{ csrfInput() }}

					{% for handle, method in cart.availableShippingMethods %}
						<div class="shipping-select">
							<label>
								<input class="shipping-radio" type="radio" name="shippingMethodHandle" value="{{ handle }}" {% if handle == cart.shippingMethodHandle %} checked {% endif %}/>

								{% if method.name == 'Pickup' %}
                  <div class="shipping-option">
                    <strong>{{ method.name }}</strong>
                    <p class="shipping-description">
                      {% if method.shippingRules|length %}
                        {% for shippingRule in method.shippingRules %}
                          {{ shippingRule.description }}
                        {% endfor %}
                      {% endif %}
                    </p>
                  </div>
                {% else %}
                  <strong class="shipping-name">{{ method.name }}</strong>
                {% endif %}

								<span class="price">
									{{ method.priceForOrder(cart)|commerceCurrency(cart.currency) }}
								</span>
							</label>
						</div>
					{% endfor %}
					<span class="flash">{{ cart.getErrors('shippingMethod')|join }}</span>

					<p><input type="submit" class="button button--primary" value="Select Shipping Method"/></p>
				</form>
			{% endif %}
    </div>

    <div class="checkout__siderail shipping__overview">
      {% include "shop/_includes/order-review" with { showShippingAddress: true } %}
    </div>
  </div>
{% endblock %}
