
<img src="https://dev.mavenshake.com/images/logo-mavenshake.png" alt="">

<h1>Thank you for shopping at MavenShake!</h1>
<p>
  Your order #{{ order.id }} has been received! Please allow up to 48 hours for your order to process. You'll be notified with a tracking code as soon as your order ships.
  <br>
  <a href="http://dev.mavenshake.com/shop/customer/order?number={{ order.number }}">View order details</a>
</p>
