{# {% extends "shop/_layouts/main" %} #}
{% extends "_layouts/base" %}

{% block body_class %}view-cart{% endblock %}

{% block sitemeta %}
	<title>{{ "Shopping Cart - MavenShake"|t }}</title>
	<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% block main %}
  <h1 class="heading heading--page">Your cart</h1>

  {% if cart.lineItems|length %}
    <table class="cart">
      <form method="POST" id="cart-form" class="cart-form">
        <input type="hidden" name="action" value="commerce/cart/update-cart">
        <input type="hidden" name="cartUpdatedNotice" value="The cart was updated.">
        {{ redirectInput('shop/cart') }}
        {{ csrfInput() }}

        <tbody>
          {% set lineItemHasErrors = false %}
          <tr>
            <td colspan="3">
              <div class="cart__wrapper">
                <div class="cart__lineitems">
                  <table>
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Details</th>
                        <th class="text-right">Price</th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for item in cart.lineItems %}
                        {% if item.hasErrors() %}
                          {# if the line item has errors lets record it so we can hide totals later (since they wont make sense) #}
                          {% set lineItemHasErrors = true %}
                        {% endif %}
                        <tr class="item" {% if item.hasErrors() %}style="background-color:rgba(255, 0, 0, .1);"{% endif %}>
                          <td>
                            <div class="cart__thumb thumb">
                              {# <img src="/images/products/{{product.productPhoto.one().filename }}" alt="{{ item.description }}" style="width: 150px;"> #}
                              {% set image = item.purchasable.productPhoto.first().getUrl('sm') ?? null %}
                              {# Fallback on product image if there is no variant image set #}
                              {% if not image|length %}
                                {% set image = item.purchasable.product.productPhoto.first() ?? null %}
                              {% endif %}
                              <img class="cart__thumb-img thumb__img" src="{{ image }}" alt="{{ item.description }}" style="width: 150px;">
                            </div>
                          </td>
                          
                          <td style="vertical-align: top;">
                            <div class="cart__item-info">
                              <div class="cart__item-detail">
                                <strong>{{ item.description }} - {{ item.purchasable.title }}</strong>
                                <p class="cart__sku">({{ item.sku }})</p>
                                
                                {# {% if item.options %}
                                  <code>{{ item.options|json_encode }}</code>
                                {% endif %} #}
                              </div>

                              <div class="cart__item-quantity {% if item.getFirstError('qty') %}has-error{% endif %}">
                                <label for="lineItems[{{ item.id }}][qty]">x </label>
                                <input class="cart__quantity" type="{% if item.options.donationAmount is defined %}hidden{%else%}number{%endif%}" name="lineItems[{{ item.id }}][qty]" min="0" value="{{ item.qty }}">
                              </div>
                            </div>

                            <label class="cart__label" for="lineItems[{{ item.id }}][note]">Add a note</label>
                            <input class="cart__note" type="text" placeholder="My Note"
                                  size="20"
                                  name="lineItems[{{ item.id }}][note]"
                                  value="{{ item.note }}">

                            {# {% if item.options.giftWrapped is defined %}
                            <select name="lineItems[{{ item.id }}][options][giftWrapped]">
                              <option value="no"
                                {% if item.options.giftWrapped == 'no' %}selected{% endif %}>
                                No gift wrap
                              </option>
                              <option value="yes"
                                {% if item.options.giftWrapped == 'yes' %}selected{% endif %}>
                                Gift wrapped.
                              </option>
                            </select>
                            {% endif %} #}

                            {# {% if item.options.donationAmount is defined %}
                              <input type="text" name="lineItems[{{ item.id }}][options][donationAmount]" placeholder="Donation" value="{{item.options.donationAmount}}">
                            {% endif %} #}

                          </td>

                          <td class="cart__price text-right"  style="vertical-align: top;">
                            {% if not lineItemHasErrors %}
                              {% if item.onSale %}
                                <s>Price: {{ item.price|commerceCurrency(cart.currency) }}</s>
                                <br>
                                Sale Off: {{ item.saleAmount|commerceCurrency(cart.currency) }}
                                <br>
                                Sale Price {{ item.salePrice|commerceCurrency(cart.currency) }}
                                <br>
                                Sale Price Subtotal: {{ item.subtotal|commerceCurrency(cart.currency) }}
                                <br>
                              {% else %}
                                Price: {{ item.price|commerceCurrency(cart.currency) }}
                                <br>
                                Price Subtotal: {{ item.subtotal|commerceCurrency(cart.currency) }}
                                <br>
                              {% endif %}
                            {% endif %}

                            {% set itemSales = item.snapshot.sales ?? [] %}

                            {% for sale in itemSales %}
                              {% if loop.first %}
                                <span class="cart__sales-label">Sales Applied:</span>
                              {% endif %}

                              <span class="cart__sales-name">{{ sale.name }}</span>
                            {% endfor %}

                            <div class="cart__actions">
                              {# <label class="remove-from-cart">
                                <input type="checkbox"
                                      name="lineItems[{{ item.id }}][remove]"
                                      value="1"> Remove from cart
                              </label> #}

                              <button class="remove-from-cart" data-line-item-id="{{ item.id }}">
                                <i class="icon-remove" data-feather="trash-2"></i>
                              </button>
                            </div>
                          </td>
                        </tr>

                        {% if not lineItemHasErrors %}
                          {% for adjustment in item.adjustments %}
                            <tr class="adjustment">
                              <td></td>
                              <td colspan="2">
                                <div class="cart__adjustment {% if adjustment.type == 'discount' %}cart__adjustment--discount {% endif %}">
                                  <div class="cart__adjustment-info">
                                    <p class="cart__adjustment-name"><strong>{{ adjustment.name }}</strong></p>

                                    <p class="text-sm cart__adjustment-description">{{ adjustment.description }}</p>
                                  </div>

                                  <div class="cart__adjustment-amount">
                                    {% if adjustment.isEstimated %}
                                      <i class="text-sm text-grey-dark">{{ 'Estimated'|t('commerce') }}</i>
                                    {% endif %}

                                    {{ adjustment.amount|commerceCurrency(cart.currency) }}
                                  </div>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                      {% endfor %} {# END MAIN LOOP #}

                      {# <tr>
                        <td colspan="3">
                          {% for handle, method in cart.availableShippingMethods %}
                              <label>
                                  <input type="radio" name="shippingMethodHandle" value="{{ handle }}"
                                        {% if handle == cart.shippingMethodHandle %}checked{% endif %} />
                                  <strong>{{ method.name }}</strong> {{ method.priceForOrder(cart)|currency(cart.currency) }}
                              </label>
                          {% endfor %}
                        </td>
                      </tr> #}

                      {% if not lineItemHasErrors %}
                        {% for adjustment in cart.orderAdjustments %}
                          <tr><td class="table__spacer" colspan="3"></td></tr>
                          <tr class="adjustment adjustment-order">
                            <td>
                              <p class="cart__adjustment-type text-sm text-grey-dark">{{ adjustment.type|capitalize }}</p>
                            </td>
                            <td colspan="2">
                              <div class="cart__adjustment">
                                <div class="cart__adjustment-info">
                                  <p class="cart__adjustment-name"><strong>{{ adjustment.name }}</strong></p>

                                  {% if adjustment.description %}
                                    <p class="cart__adjustment-description">({{ adjustment.description }})</p>
                                  {% endif %}
                                </div>

                                <div class="cart__adjustment-amount">
                                  {% if adjustment.isEstimated %}
                                    <i class="text-sm text-grey-dark">{{ 'Estimated'|t('commerce') }}</i>
                                  {% endif %}

                                  {{ adjustment.amount|commerceCurrency(cart.currency) }}
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      {% endif %}

                      {# <tr>
                        <td colspan="3">
                          {% include "shop/_includes/shipping-estimator" %}
                        </td>
                      </tr> #}
                    </tbody>
                  </table>
                </div>

                <div class="cart__overview">
                  <table>
                    <tr>
                      <td colspan="3" class="text-right align-text-top">
                        {% if not lineItemHasErrors %}
                          <div class="cart__overview-line">
                            <div class="cart__overview-label">
                              Item Sub Total:
                            </div>
                            <div class="cart__overview-value">
                              {{ cart.itemSubTotal|commerceCurrency(cart.currency) }}
                            </div>
                          </div>

                          <div class="cart__overview-line-title">
                            <strong>Adjustment Totals</strong>
                          </div>

                          <div class="cart__overview-line cart__overview-line--discount">
                            <div class="cart__overview-label">
                              Total Discounts:
                            </div>
                            <div class="cart__overview-value">
                              {{ cart.getTotalDiscount()|commerceCurrency(cart.currency) }}
                            </div>
                          </div>

                          <div class="cart__overview-line">
                            <div class="cart__overview-label">
                              Total Shipping:
                            </div>
                            <div class="cart__overview-value">
                              {{ cart.getTotalShippingCost()|commerceCurrency(cart.currency) }}
                            </div>
                          </div>

                          <div class="cart__overview-line">
                            <div class="cart__overview-label">
                              Total Tax:
                            </div>
                            <div class="cart__overview-value">
                              {{ cart.getTotalTax()|commerceCurrency(cart.currency) }}
                            </div>
                          </div>

                          <div class="cart__overview-line">
                            <div class="cart__overview-label">
                              Total Tax (inc):
                            </div>
                            <div class="cart__overview-value">
                              {{ cart.getTotalTaxIncluded()|commerceCurrency(cart.currency) }}
                            </div>
                          </div>

                          <div class="cart__overview-line">
                            <div class="cart__overview-label">
                              Total:
                            </div>
                            <div class="cart__overview-value">
                              <strong>{{ cart.totalPrice|commerceCurrency(cart.currency) }}</strong>
                            </div>
                          </div>

                          {% if cart.getFirstError('couponCode') %}
                            <span class="flash">{{ cart.getFirstError('couponCode') }}</span>
                          {% endif %}

                          <span class="{% if cart.getFirstError('couponCode') %}has-error{% endif %}"></span>

                          <hr>

                          <div class="coupon">
                            <input type="text" name="couponCode" width="11"
                              class="coupon-code {% if cart.getFirstError('couponCode') %}has-error{% endif %}"
                              value="{{ cart.couponCode }}"
                              placeholder="{{ "Coupon Code"|t }}">

                            <div class="text-right">
                              <input class="right button button--secondary" type="submit" value="Apply"/>
                            </div>
                          </div>

                          <div class="update-cart">
                            <p>
                              To see updated pricing, please update your cart.
                            </p>
                            <input class="button button--secondary" type="submit" value="Update Cart"/>
                          </div>

                          <a class="button button--primary" href="{{ url('shop/checkout') }}">Checkout</a>
                        {% endif %}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </form>
    </table>
  {% endif %}

  {% if not cart.lineItems|length %}
    <p>Your cart is empty. <a href="{{ url('shop/products/mavenshake') }}">Shop MavenShake</a>.</p>
  {% endif %}

  {% include 'shop/_scripts/ajax-cart' %}
	{# {% js %}
	  var states = {{ craft.commerce.states.allStatesAsList|json_encode|raw }};
	{% endjs %}
  
	{% js %}
	  var $estimateShippingMethodsContainer = $('.estimate-shipping-methods');
    var $estimateFieldsContainer = $('.estimate-fields');
    var $estimateShowFieldsButton = $('.estimate-show-fields');
    var $estimateBilling = $('.estimate-billing');
    var $estimateBillingSameAsShipping = $('input[name="estimatedBillingAddressSameAsShipping"]');
    var $estimateCountrySelects = $('select.estimate-country');

    // Setup "same as" checkbox
    if ($estimateBillingSameAsShipping.prop('checked')) {
        $estimateBilling.addClass('hidden').find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');
    }

    // Handle the change event for the "same as" checkbox
    $estimateBillingSameAsShipping.change(function(ev) {
      var $this = $(this);
      if ($this.prop('checked')) {
          $estimateBilling.addClass('hidden').find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');
      } else {
          $estimateBilling.removeClass('hidden').find('input,select').attr('disabled', '').prop('disabled', '');
      }
    });

    // Setup initial state Showing/hiding of the shipping method selection
    if ($estimateShippingMethodsContainer.find('.shipping-select').length) {
      $estimateFieldsContainer.addClass('hidden');
      $estimateFieldsContainer.find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');
    } else {
      $estimateShippingMethodsContainer.addClass('hidden');
      $estimateShippingMethodsContainer.find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');;
    }

    // Handle click event for returning to the estimate fields
    $estimateShowFieldsButton.click(function(ev) {
      ev.preventDefault();

      if ($estimateFieldsContainer.hasClass('hidden')) {
        $estimateFieldsContainer.removeClass('hidden');
        $estimateFieldsContainer.find('input,select').attr('disabled', '').prop('disabled', '');
        $estimateShippingMethodsContainer.addClass('hidden');
        $estimateShippingMethodsContainer.find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');
      } else {
        $estimateFieldsContainer.addClass('hidden');
        $estimateFieldsContainer.find('input,select').attr('disabled', 'disabled').prop('disabled', 'disabled');
        $estimateShippingMethodsContainer.removeClass('hidden');
        $estimateShippingMethodsContainer.find('input,select').attr('disabled', '').prop('disabled', '');
      }
    });

    // Handle change event for country selection for both shipping and billing
    $estimateCountrySelects.change(function () {
      // get the value of the selected country.
      var cid = $(this).val();
      var $box = $('.estimate-state-box[data-modelname="'+$(this).data('modelname')+'"]');
      var $states = $box.find('select.address-stateId');
      var $stateName = $box.find('input.address-stateName');
      $states.find('option').remove();

      if (states.hasOwnProperty(cid))
      {
        // We have states for this country, show the states drop down.
        $states.removeClass('hidden');
        $states.attr('name', $states.data('modelname')+'[stateValue]');

        // We have states for this country, hide the stateName input.
        $stateName.removeAttr('name');
        $stateName.addClass('hidden');
        $stateName.val('');

        // Add all states as options to drop down.
        for (var id in states[cid])
        {
          var state = states[cid][id];
          var $option = $('<option/>');
          $option.attr('value', id).text(state);
          $states.append($option);
        }
      }else{
        // hide the states dropdown, since this country has none.
        $states.addClass('hidden');
        $states.removeAttr('name');

        // show the stateName
        $stateName.removeClass('hidden');
        $stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
      }
    });
	{% endjs %} #}
{% endblock %}
