{% extends "_layouts/base" %}
{% block body_class %}view-checkout view-order{% endblock %}

{% block sitemeta %}
	<title>Order #{{ order.reference }} - MavenShake</title>
	<meta name="description" content="{{ "The example templates for Craft Commerce"|t }}">
{% endblock %}

{% set extraHead %}
{# We don't want the order info indexed by search engines. #}
<meta name="robots" content="noindex">
{% endset %}

{% set number = craft.app.request.param('number') %}
{% set order = craft.orders.number(number).one() %}

{% if not order or order.isCompleted == false %}
	{% redirect 'shop/customer' %}
{% endif %}

{% block main %}
  <div class="checkout__wrapper order">
    <div class="checkout__main order__details">
      <div class="order__header">
        <h1 class="heading heading--section">Order {{ order.reference }}</h1>

        <div class="order__actions">
          {% if currentUser %}
            <a class="button button--secondary" href="{{ url('shop/customer') }}">View all orders</a>
          {% endif %}

          {% if order.pdfUrl %}
            <a class="button button--secondary" href="{{ order.getPdfUrl('receipt') }}">Download receipt</a>
          {% endif %}
        </div>
      </div>

      <table class="order__table">
        <thead>
          <tr>
            <th>Item</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>

        <tbody>
          {% for item in order.lineItems %}
            <tr>
              <td>
                <strong>{{ item.description }}</strong>
                <p class="item__variant">
                  <span class="item__variant-title">{{ item.purchasable.title }}</span>
                  <span class="item__sku" style="opacity: .6;">({{ item.sku }})</span>
                </p>

                {% if item.note %}
                  <p class="item__note">
                    <i class="icon-file-text" data-feather="file-text"></i> {{ item.note }}
                  </p>
                {% endif %}
              </td>
              <td>
                {% if item.onSale %}
                  <strike>{{ item.price|commerceCurrency(cart.currency) }}</strike>
                  {{ item.salePrice|commerceCurrency(cart.currency) }}
                {% else %}
                  {{ item.price|commerceCurrency(cart.currency) }}
                {% endif %}
              </td>
              <td>{{ item.qty }}</td>
              <td class="text-right">{{ item.subtotal|commerceCurrency(cart.currency) }}</td>
            </tr>
          {% endfor %}

          {% for adjustment in order.adjustments %}
            <tr {% if adjustment.type == 'discount' %}class="discount"{% endif %}>
              <td class="adjustment-type">{{ adjustment.type|upper }}</td>
              <td colspan="2">
                <strong>{{ adjustment.name }}</strong><br>({{ adjustment.description }})</td>
              <td class="text-right">{{ adjustment.amount|commerceCurrency(cart.currency) }}</td>
            </tr>
          {% endfor %}

          <tr>
            <td colspan="4" class="text-right">
              Item Total: {{ order.itemTotal|commerceCurrency(cart.currency) }}<br>
              <strong>Total: {{ order.totalPrice|commerceCurrency(cart.currency) }}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="checkout__siderail order__overview">
      <div class="order__preview">
        <h3 class="heading heading--section mt-0">Details</h3>

        <ul class="order__preview-list list-reset">
          <li>
            <strong>{{ "Customer"|t }}:</strong>
            <span>
              {% if order.customer.email %}
                {{ order.customer.email }}
              {% else %}
                Guest checkout
              {% endif %}
            </span>
          </li>
          <li>
            <strong>{{ "Total"|t }}:</strong>
            <span>{{ order.totalPrice|commerceCurrency(cart.currency) }}</span>
          </li>
          <li>
            <strong>{{ "Amount Paid"|t }}:</strong>
            <span>{{ order.totalPaid|commerceCurrency(cart.currency) }}</span>
          </li>
          <li>
            <strong>{{ "Date"|t }}:</strong>
            <span>{{ order.dateOrdered|date('m/d/y') }}</span>
          </li>
        </ul>
      </div>

      <div class="order__shipping">
        <h3 class="heading heading--section mt-0">Shipping Address</h3>

        {% if order.shippingAddress %}
          {% include 'shop/_includes/addresses/address' with { address: order.shippingAddress } %}
        {% endif %}      
      </div>

      <div class="order__billing">
        <h3 class="heading heading--section mt-0">Billing Address</h3>

        {% if order.billingAddress %}
          {% include 'shop/_includes/addresses/address' with { address: order.billingAddress } %}
        {% endif %}     
      </div>
    </div>
  </div>



{% endblock %}
