<ul class="address-data">
	{% if address.attention is not empty %}
		<li class="address-data__attn">
			<strong>Attn:
				{{ address.attention }}
      </strong>
		</li>
	{% endif %}

	{% if address.title is not empty %}
		<li class="address-data__title">
			<strong>{{ address.title }}</strong>
		</li>
	{% endif %}

	{% if address.firstName is not empty or address.lastName is not empty %}
		<li class="address-data__name">
			<strong>
				{% if address.firstName is not empty %}
					{{ address.firstName }}
				{% endif %}

				{% if address.lastName is not empty %}
					{{ address.lastName }}
				{% endif %}
			</strong>
		</li>
	{% endif %}

	{% if address.businessName is not empty %}
		<li class="address-data__business">
			<strong>{{ address.businessName }}</strong>
		</li>
	{% endif %}

	{% if address.businessTaxId is not empty %}
		<li class="address-data__taxid text-grey-dark">
			<strong>{{ address.businessTaxId }}</strong>
		</li>
	{% endif %}

	{% if address.address1 is not empty %}
		<li class="address-data__address1">{{ address.address1 }}</li>
	{% endif %}

	{% if address.address2 is not empty %}
		<li class="address-data__address2">{{ address.address2 }}</li>
	{% endif %}

  {% if address.stateText is defined %}
		<li class="address-data__state">{{ address.stateText }}</li>
	{% endif %}

  {% if address.zipCode is not empty or address.city is not empty %}
		<li class="address-data__zip">
			{% if address.zipCode is not empty %}
				{{ address.zipCode }}
			{% endif %}

			{% if address.city is not empty %}
				{{ address.city }}
			{% endif %}
		</li>
	{% endif %}

	{% if address.countryText is defined %}
		<li class="address-data__country">{{ address.countryText }}</li>
	{% endif %}

	{% if address.phone is not empty %}
		<li class="address-data__phone">{{ address.phone }}</li>
	{% endif %}

	{% if address.alternativePhone is not empty %}
		<li class="address-data__phone2">{{ address.alternativePhone }}</li>
	{% endif %}
</ul>
